<h1><%= @salon.name %></h1>

<p><%= simple_format(@salon.description) %></p>

<% if current_user %>
  <%= render "reviews/form", review: @review, salon: @salon %>
  <% else %>
  <p>You must <%= link_to "log in", login_path %> to write a review.</p>
<% end %>

<%= render @reviews %>
