<div id="review-<%= review.id %>">
    <h3 class="small"><%= review.user.name %></h3>
    <p><%= simple_format(review.content) %></p>
  <% if current_user && current_user.own?(review) %>
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <%= link_to edit_review_path(review), class: "edit-review-link" do %>
          <% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to review_path(review), class: "delete-review-link", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this?" } do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </li>
      </ul>
  <% end %>
</div>
